<html>
  <body>
    <form action="/sighted" method="POST">
      <label for="YEAR">Year:</label><br />
      <input type="text" id="year" name="YEAR" /><br />
      <label for="SEASON">Season:</label><br />
      <input type="text" id="seasons" name="SEASON" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
